.cartProduct-wrapper {
  display: flex;
  margin: 35px 0;
  max-width: 830px;
  justify-content: flex-start;

  &__img {
    width: 190px;
    height: 165px;
    border-radius: 20px;
    margin-right: 35px;
  }
  &__content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    &__middlePart {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      &__title {
        font-size: 18px;
        font-weight: 600;
        line-height: 23px;
        letter-spacing: 0.03em;
        max-width: 250px;
      }
      &__btnWrapper {
        width: 140px;
        height: 40px;
        border: 1px solid black;
        border-radius: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &__btn {
          display: flex;
          cursor: pointer;
          width: 35px;
          height: 35px;
          align-items: center;
          border: none;
          justify-content: center;
          background-color: transparent;
          font-size: 25px;
        }
        &__quantity {
          font-size: 20px;
          font-weight: 500;
        }
      }
    }
    &__prices {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin: 0 60px;
      max-width: 100px;
      width: 100%;
      &__price {
        font-size: 30px;
        font-weight: 600;
        margin-right: 50px;
      }
      &__discountPrice {
        font-size: 20px;
        font-weight: 500;
        color: gray;
        text-decoration: line-through;
      }
    }
    &__deleteBtn {
      all: unset;
      cursor: pointer;
    }
  }
}
.divider {
  max-width: 830px;
}
