.dwarf-banner {
  display: flex;
  height: 475px;
  justify-content: space-evenly;
  align-items: center;
  background: linear-gradient(262.69deg, #339933 -0.43%, #006300 104.36%);
  margin-bottom: 150px;
  &__img {
  }
  &__contentSide {
    color: white;
    display: flex;
    flex-direction: column;
    &__title {
      font-size: 90px;
    }
    &__description {
      font-size: 40px;
      margin-bottom: 45px;
    }
    &__input {
      margin-bottom: 20px;
    }
  }
}
