.card-wrapper {
  margin-right: 43px;
  text-decoration: none;
  color: black;
  margin-bottom: 90px;
  &:last-child {
    margin-right: 0;
  }
  &__img {
    width: 318px;
    height: 350px;
    margin-bottom: 10px;
  }
  &__title {
    display: flex;
    justify-content: center;
    font-weight: 600;
    font-size: 18px;
  }
}
