.my-input {
  width: 440px;
  height: 75px;
  border: transparent;
  border-radius: 25px;
  padding: 15px 50px;
  color: darkgray;
  font-weight: 500;
  font-size: 18px;
  &:focus-visible {
    outline: none;
  }
}
.fromTo {
  all: unset;
  width: 105px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-weight: 500;
  font-size: 18px;
  color: darkgray;
  padding: 10px;
  margin-right: 20px;
  transition: border-color 0.3s;

  &:focus-visible,
  &:focus-visible:not(:checked) {
    border-color: black;
    background-color: white;
    border-width: 0.5px;
  }

  &:focus-visible::after,
  &:focus-visible:not(:checked)::after {
    border: solid black;
    border-width: 0 1px 1px 0;
    transform: rotate(45deg);
  }
}

.checkbox {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 40px;
  height: 40px;
  border: 2px solid #ccc;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  transition: border-color 0.3s;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  &:checked {
    border-color: black;
    background-color: white;
  }

  &:checked::after {
    content: '';
    position: absolute;
    width: 11px;
    top: 4px;
    height: 20px;
    border: solid black;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }
}
.select {
  width: 220px;
  height: 45px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-weight: 500;
  font-size: 18px;
  color: darkgray;
  padding: 10px;
  transition: border-color 0.3s;

  &:focus-visible {
    outline: none;
    border: 1px solid black;
    background-color: white;
  }
}
input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none; // Yeah, yeah everybody write about it
}

input[type='number'],
input[type='number']:hover,
input[type='number']:focus {
  appearance: none;
  -moz-appearance: textfield;
}
