.prodSchowcase-wrapper {
  margin-bottom: 75px;
  padding: 20px;

  &__title {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 60px;
  }

  &__card {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 20px;
  }
}
